<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Resultado de la Respuesta</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <h1><%= @result %></h1>
  <a href="/sections/<%= @section.id %>/test">Volver al Test</a>
</body>
</html>

