<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menú</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lora:wght@400;700&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'Lora', serif;
      background: url('/images/background.png') no-repeat center center fixed;
      background-size: cover;
      height: 100vh;
      color: #ffffff; 
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0;
    }
    .container {
      max-width: 600px;
      padding: 50px;
      background: rgba(255, 255, 255, 0.7); 
      border-radius: 10px;
      box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1); 
      text-align: center; 
    }
    h1 {
      font-family: 'Dancing Script', cursive;
      font-size: 4rem; 
      margin-bottom: 20px;
      text-transform: capitalize; 
      color: #dc3545; 
    }
    ul {
      list-style-type: none; 
      padding: 0;
      margin-top: 20px;
      text-align: center; 
    }
    ul li {
      margin-bottom: 10px;
    }
    ul li a {
      display: block;
      padding: 15px 20px; 
      background-color: transparent;
      border: 2px solid #dc3545; 
      color: #dc3545; 
      text-decoration: none;
      font-size: 1.5rem;
      transition: all 0.3s ease;
      border-radius: 5px;
      width: 100%; 
      box-sizing: border-box; 
    }
    ul li a:hover {
      background-color: #dc3545; 
      color: #ffffff; 
      text-decoration: none; 
    }

    .btn-custom {
      margin: 5px;
      color: white;
      font-size: 1.25rem;
      font-weight: bold;
      transition: background-color 0.3s ease, color 0.3s ease;
      position: absolute; 
      top: 20px; 
    }

    .btn-logout {
      background-color: #dc3545;
      right: 20px; 
    }
    
    .btn-logout:hover {
      background-color: #f76c6c;
    }

  </style>
</head>
<body>
  <div class="container">
    <h1>Menú</h1>
    <ul>
      <li><a href="/profile">Mi Perfil</a></li>
      <li><a href="/sections">Comenzar</a></li>
      <li><a href="/progress">Mi Progreso</a></li>
    </ul>
    <a href="/logout" class="btn btn-custom btn-logout">
      <i class="fas fa-sign-out-alt"></i> Cerrar sesión
    </a>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

