<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menú</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lora:wght@400;700&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'Lora', serif;
      background: url('/images/background.png') no-repeat center center fixed;
      background-size: cover;
      height: 100vh;
      color: #ffffff; /* Letra blanca */
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0;
    }
    .container {
      max-width: 600px;
      padding: 50px;
      background: rgba(255, 255, 255, 0.7); /* Fondo blanco semi-transparente */
      border-radius: 10px;
      box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1); /* Sombra suave */
      text-align: center; /* Alineación del contenido centrado */
    }
    h1 {
      font-family: 'Dancing Script', cursive;
      font-size: 4rem; /* Tamaño de la fuente aumentado */
      margin-bottom: 20px;
      text-transform: capitalize; /* Texto con la primera letra en mayúscula */
      color: #dc3545; /* Rojo */
    }
    ul {
      list-style-type: none; /* Quitamos los puntos de la lista */
      padding: 0;
      margin-top: 20px;
      text-align: center; /* Alineación del texto centrado */
    }
    ul li {
      margin-bottom: 10px;
    }
    ul li a {
      display: block;
      padding: 15px 20px; /* Aumento del padding para hacer los recuadros más largos */
      background-color: transparent;
      border: 2px solid #dc3545; /* Borde rojo */
      color: #dc3545; /* Rojo */
      text-decoration: none;
      font-size: 1.5rem;
      transition: all 0.3s ease;
      border-radius: 5px;
      width: 100%; /* Asegura que todos los enlaces ocupen el 100% del ancho disponible */
      box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    }
    ul li a:hover {
      background-color: #dc3545; /* Fondo rojo al hacer hover */
      color: #ffffff; /* Letra blanca al hacer hover */
      text-decoration: none; /* Quitamos el subrayado al hacer hover */
    }
    .logout-link {
      display: inline-block; /* Para que el enlace de cerrar sesión ocupe una línea completa */
      margin-top: 20px;
      text-align: center;
      color: #dc3545; /* Rojo */
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: bold; /* Texto en negrita */
      transition: color 0.3s ease; /* Transición para el color al hacer hover */
    }
    .logout-link:hover {
      color: #dc3545; /* Mantener el color rojo al hacer hover */
      text-decoration: underline; /* Subrayado al hacer hover */
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Menú</h1>
    <ul>
      <li><a href="/profile">Mi Perfil</a></li>
      <li><a href="/sections">Comenzar</a></li>
      <li><a href="/progress">Mi Progreso</a></li>
    </ul>
    <a href="/logout" class="logout-link">Cerrar sesión</a>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

