<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ranking</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lora:wght@400;700&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'Lora', serif;
      background: url('/images/background.png') no-repeat center center fixed;
      background-size: cover;
      height: 100vh;
      color: #ffffff; 
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0;
    }
    .container {
      max-width: 600px;
      padding: 50px;
      background: rgba(255, 255, 255, 0.7); 
      border-radius: 10px;
      box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1); 
      text-align: center; 
    }
    h1 {
      font-family: 'Dancing Script', cursive;
      font-size: 4rem; 
      margin-bottom: 20px;
      text-transform: capitalize; 
      color: #dc3545; 
    }
    table {
      margin-top: 20px;
      width: 100%;
      color: #dc3545;
      border-collapse: collapse;
    }
    th, td {
      border: 2px solid #dc3545;
      padding: 10px;
      text-align: center;
    }
    th {
      background-color: rgba(220, 53, 69, 0.1);
    }
    .btn-back {
      margin-top: 20px;
      background-color: #dc3545;
      color: white;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 5px;
      display: inline-block;
      transition: background-color 0.3s ease;
    }
    .btn-back:hover {
      background-color: #f76c6c;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Ranking de Usuarios</h1>
    <table>
      <thead>
        <tr>
          <th>Posición</th>
          <th>Usuario</th>
          <th>Puntaje</th>
        </tr>
      </thead>
      <tbody>
        <% @rankings.each_with_index do |ranking, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= ranking.name %></td>
            <td><%= ranking.total_score %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <a href="/menu" class="btn btn-back">Volver</a>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
