<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Secciones</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body id="sections">
  <div class="container">
    <h1>Secciones Disponibles</h1>
    <ul class="section-list">
      <% @sections.each do |section| %>
        <li><a href="/sections/<%= section.id %>"><%= section.title %></a></li>
      <% end %>
    </ul>
    <a href="/menu" class="back-link">Volver al menú</a>
    <form action="/logout" method="post">
      <button type="submit">Cerrar sesión</button>
    </form>
  </div>
</body>
</html>



