<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Resultado del Test</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <h1>Resultado del Test</h1>
  <p><%= @message %></p>
  <p>Preguntas contestadas correctamente: <%= @score %> / <%= @total_questions %> Porcentaje Obtenido: (<%= @percentage %>)%</p>
  <a href="/sections">Volver a las Secciones</a>
</body>
</html>

