<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenido</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body id="welcome">
  <div class="container">
  	<div class="info-box">
	<p>Aprender sobre primeros auxilios te brinda la capacidad de responder rápidamente y de manera efectiva ante accidentes y lesiones, proporcionando la ayuda necesaria hasta que llegue el personal médico especializado.</p>
    </div>
    <h1>Apendé de Primeros Auxilios</h1>
    <img src="/images/img1.png" alt="Primeros Auxilios" class="image">
    <div>
      <a href="/login" class="login-link">Iniciar Sesión</a>
      <a href="/register" class="register-link">Registrarse</a>
    </div>
  </div>
</body>
</html>

