<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenido</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body id="welcome">
  <div class="background-container"></div>
  <div class="content-container">
    <div class="container">
      <h1>Apendé de Primeros Auxilios</h1>
      <img src="/images/img1.png" alt="Primeros Auxilios" class="image">
      <div>
        <a href="/login" class="login-link btn">Iniciar Sesión</a>
        <a href="/register" class="register-link btn">Registrarse</a>
      </div>
    </div>
  </div>
</body>
</html>


